.active {
  color: #da533d;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  transition: all 500ms;
}

.inactive {
  color: black;
  text-decoration: none;
}

.pepito:hover {
  color: white;
  transition: color 500ms;
}
