.active {
  color: white;
  text-decoration: none;
  background-color: #590e24;
  height: 100%;
  transition: all 500ms;
}

.inactive {
  color: rgb(168, 150, 150);
  text-decoration: none;
}

.pepito:hover {
  color: white;
  transition: color 500ms;
}
